[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
aiomysql = "*"
aioredis = "*"
amqp = "*"
anyjson = "*"
async-timeout = "*"
bcrypt = "*"
billiard = "*"
celery = "*"
certifi = "*"
cffi = "*"
chardet = "*"
Click = "*"
colorama = "*"
cryptography = "*"
databases = "*"
fastapi = "*"
h11 = "*"
hiredis = "*"
idna = "*"
importlib-metadata = "*"
kombu = "*"
lxml = "*"
Mako = "*"
MarkupSafe = "*"
passlib = "*"
pycparser = "*"
pydantic = "*"
PyJWT = "*"
PyMySQL = "*"
python-dateutil = "*"
python-editor = "*"
pytz = "*"
qrcode = "*"
redis = "*"
requests = "*"
six = "*"
SQLAlchemy = "*"
starlette = "*"
typesystem = "*"
urllib3 = "*"
uvicorn = "*"
vine = "*"
websockets = "*"
zipp = "*"
dotenv-python = "*"
aiosmtplib = "*"
jose = "*"
python-dotenv = "*"
alembic = "*"
python-jose = "*"

[requires]
python_version = "3.7"
